* {
  box-sizing: border-box;
  font-family: sans-serif;
}

*::selection {
  background-color: black;
  color: wheat;
}

@media (min-width: 600px) {
  .css-hyum1k-MuiToolbar-root {
    padding: 0 !important;
  }
}
