* {
  box-sizing: border-box;
  font-family: sans-serif;
}

*::selection {
  background-color: black;
  color: wheat;
}

.css-r5jgi8-MuiTypography-root {
  font-size: 4.5rem !important;
}
@media (min-width: 600px) {
  .MuiToolbar-root,
  .MuiContainer-root {
    padding: 0 !important;
  }
}
